html, body, div, h1, h2, p, canvas, a{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: inherit;
  color: inherit;
  background: transparent;
  text-decoration: inherit;
}

ul{
  list-style: none;
}

a{
  display:block;
}

img{
  width: 100%;
  height:auto;
  display: block;
}

body{
  font-family: arial;
}

h2{
  text-align: center;
}

.group:after{
  content: "";
  display: block;
  clear: both;
}

#grid{
  width: 500px;
  margin: 0 auto;
}

#builders{
  width:525px;
  text-align: center;
}

#solvers{
  width:525px;
  text-align:center;
  position:relative;
  top:-33px;
}

#grid button{
  padding: 4px;
  margin: 3px;
  background: white;
  font-weight: bold;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 3px;
  font-size: 12px;
}

#builders button{
  position: relative;
  top: 6px;
  margin-bottom:0;
}

#grid button:hover{
  background: #00e229;
  color: white;
  border: 1px solid black;
}

.header{
  text-align: center;
}

.title-header{
  float:left;
  margin-left:325px;
}
.title-header h1{
  font-size:36px;
}

.button-menu{
  width: 540px;
  margin: 0 auto;
}

.portfolios{
  float:left;
  width: 150px;
}

.logo{
  width: 32px;
  float: left;
  padding:8px;
  cursor:pointer;
  margin-left:8px;
}

#linkedin{
  padding-top:12px;
}

.byline{
  font-weight: bold;
  float: right;
  margin: 20px;
}

.byline a{
  display: inline;
  cursor: pointer;
}

.byline a:hover{
  color: blue;
  text-decoration: underline;
}
