html, body, div, h1, h2, p, canvas, a{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: inherit;
  color: inherit;
  background: transparent;
  text-decoration: inherit;
}

ul{
  list-style: none;
}

a{
  display:block;
}

img{
  width: 100%;
  height:auto;
  display: block;
}

body{
  font-family: arial;
}

h2{
  text-align: center;
}

.group:after{
  content: "";
  display: block;
  clear: both;
}

#grid{
  width: 760px;
  margin: 0 auto;
}

#canvas{
  float:left;
}

#builders{
  width:760px;
  text-align: center;
}

#solvers{
  width:525px;
  text-align:center;
  position:relative;
  top:-25px;
}

#grid button{
  padding: 4px;
  margin: 3px;
  background: white;
  font-weight: bold;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 3px;
  font-size: 12px;
}

#builders button{
  position: relative;
  top: 6px;
  margin-bottom:0;
}

#grid button:hover{
  background: #00e229;
  color: white;
  border: 1px solid black;
}

.header{
  text-align: center;
}

.title-header h1{
  font-size:36px;
}

.button-menu{
  width: 540px;
  margin: 0 auto;
  float: left;
}

.portfolios{
  position: absolute;
  width: 150px;
}

.logo{
  width: 32px;
  float: left;
  padding:8px;
  cursor:pointer;
  margin-left:8px;
}

#linkedin{
  padding-top:12px;
}

.byline{
  font-weight: bold;
  position: absolute;
  left: 80%;
  margin: 20px;
  top: 0;
}

.byline a{
  display: inline;
  cursor: pointer;
}

.byline a:hover{
  color: blue;
  text-decoration: underline;
}

.scale{
  width:50px;
  height: 50px;
  float: right;
  text-align: center;
  font-weight: bold;
}

#scale1{
  background: #a43cd8;
}
#scale2{
  background: #7F244D;
}
#scale3{
  background: #FF7A3D;
}
#scale4{
  background: #FFD92E;
}
#scale5{
  background: #26E5CE;
}
#scale6{
  background: #5FA0F3;
}

.stats{
  float: left;
}

.stats p{
  font-weight: bold;
  margin-bottom: 5px;
}

.legend{
  float:right;
  width: 60px;
}
